{{!< default}}

{{! Navigation section }}
<section id="navigation" class="header">
    <div class="navbar navbar-inverse navbar-fixed-top navbar-trans" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="{{asset "img/logo.png"}}" style="max-width: 150px;" alt="logo"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#technologies">Technologies</a></li>
                    <li><a href="#works">Works</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><a href="/blog">Blog</a></li>
                </ul>

            </div>
        </div>
    </div>
</section>

{{! HOME }}
<section class="carousel-section parallax" data-stellar-background-ratio="0.8" id="home">
    <div id="carousel-example-generic" class="carousel carousel-razon" data-ride="carousel" data-interval="5000">

        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                            <div class="carousel-caption">
                                <div class="carousel-text">
                                    <h1 class="animated fadeInDownBig animation-delay-1 carousel-title">Microsoft Student Partners <span> Vietnam</span></h1>
                                    <p class="animated fadeInUpBig animation-delay-8">When technology becomes absolute passion
                                    </p>
                                    <br/>
                                    <br/>
                                    <a href="https://www.microsoft.com/vi-vn/education/students" class="btn btn-custom animated fadeInUpBig animation-delay-12">Join with us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                            <div class="carousel-caption">
                                <div class="carousel-text">
                                    <h1 class="animated fadeInDownBig animation-delay-1 carousel-title"><span>Who </span> we are</h1>
                                    <p class="animated fadeInUpBig animation-delay-8">The Microsoft Student Partners (MSP) program offers <span>technical</span> insights, incredible <span>connections</span>, and extraordinary <span>opportunities</span>.
                                    </p>
                                    <br/>
                                    <a href="https://www.facebook.com/mspvn/" class="btn btn-custom animated fadeInUpBig animation-delay-12">More about us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                            <div class="carousel-caption">
                                <div class="carousel-text">
                                    <h1 class="animated fadeInDownBig animation-delay-1 carousel-title"><span>What </span> we do</h1>
                                    <p class="animated fadeInUpBig animation-delay-8">The Microsoft Student Partners is a worldwide educational program to sponsor <span>students</span> majoring in disciplines related to <span>technology</span>. The MSP program enhances students' employability by offering training in skills not usually taught in academia, including knowledge of <span>Microsoft technologies</span>.
                                    </p>
                                    <a href="https://mspvn.wordpress.com/" class="btn btn-custom animated fadeInUpBig animation-delay-12">Become our member</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 

{{! TECHNOLOGIES }}
<section class="services" id="technologies">
    <div class="container">
        <h3 class="text-center text-uppercase">Our Technologies</h3>
        <p class="text-center margin-b-30">We’re committed to bringing <span>student technologists</span> useful resources and a community to engage with.</p>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="service-item">
                    <div class="thumbnail minheight">
                        <div class="box_inner">
                            <figure>
                                <img src="{{asset "img/technologies1.jpg"}}" alt="" class="img-responsive">
                            </figure>
                            <div class="caption">
                                <a href="#">Building skills</a>
                                <p>Run workshops and hackathons</p>
                                <p>Host tech events and give demos on campus</p>
                                <p>Work alongside Microsoft professionals, assisting them during hackathons and events</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="service-item">
                    <div class="thumbnail minheight">
                        <div class="box_inner">
                            <figure>
                                <img src="{{asset "img/technologies2.jpg"}}" alt="" class="img-responsive">
                            </figure>
                            <div class="caption">
                                <a href="#">Leading communities</a>
                                <p>Join exclusive Microsoft training events to learn the latest technologies</p>
                                <p>Grow and nurture a community of students and faculty on-campus and online</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="service-item">
                    <div class="thumbnail minheight">
                        <div class="box_inner">
                            <figure>
                                <img src="{{asset "img/technologies3.jpg"}}" alt="" class="img-responsive">
                            </figure>
                            <div class="caption">
                                <a href="#">Networking with professionals</a>
                                <p>Enhance their skills and career opportunities</p>
                                <p>Get amazing jobs</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 

{{! WORKS }}
<section class="work" id="works">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="text-uppercase">Our Works</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 text-center col-md-offset-2">
                <p class="margin-b-30">Every day around the world, thousands of Microsoft Student Partners (MSPs) share their deep knowledge and passion for technology with their fellow students. They master the latest technical content provided by Microsoft Imagine and share what they learn, building leadership and communication skills along with technical expertise.</p> 
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="grid" class="row">
                    <div class="col-md-3 col-sm-4 col-xs-6 margin-t-20">
                        <ul class="portfolio-filters text-center list-unstyled">
                            <li class="filter active" data-filter="all">All</li>
                            <li class="filter" data-filter="imagine-cup">Imagine Cup</li>
                            <li class="filter" data-filter="build">Build</li>
                            <li class="filter" data-filter="hackathon">Hackathon</li>
                        </ul>
                    </div> 
                    <div class="col-md-9 col-sm-8 col-xs-6">
                        <div class="row">
                            <div class="mix col-sm-4 margin-t-20 imagine-cup">
                                <div class="work_item">
                                    <div class="work_item_overlay"></div>
                                    <img src="{{asset "img/works1.jpg"}}" alt="work image">
                                    <div class="work_item_button_holder">
                                        <a href="{{asset "img/works1.jpg"}}" data-rel="prettyPhoto"><i class="icon-magnifying-glass"></i></a>
                                        <a href="#"><i class="icon-attachment"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="mix col-sm-4 margin-t-20 imagine-cup">
                                <div class="work_item">
                                    <div class="work_item_overlay"></div>
                                    <img src="{{asset "img/works2.jpg"}}" alt="work image">
                                    <div class="work_item_button_holder">
                                        <a href="{{asset "img/works2.jpg"}}" data-rel="prettyPhoto"><i class="icon-magnifying-glass"></i></a>
                                        <a href="#"><i class="icon-attachment"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="mix col-sm-4 margin-t-20 build">
                                <div class="work_item">
                                    <div class="work_item_overlay"></div>
                                    <img src="{{asset "img/works3.jpg"}}" alt="work image">
                                    <div class="work_item_button_holder">
                                        <a href="{{asset "img/works3.jpg"}}" data-rel="prettyPhoto"><i class="icon-magnifying-glass"></i></a>
                                        <a href="#"><i class="icon-attachment"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="mix col-sm-4 margin-t-20 build">
                                <div class="work_item">
                                    <div class="work_item_overlay"></div>
                                    <img src="{{asset "img/works4.jpg"}}" alt="work image">
                                    <div class="work_item_button_holder">
                                        <a href="{{asset "img/works4.jpg"}}" data-rel="prettyPhoto"><i class="icon-magnifying-glass"></i></a>
                                        <a href="#"><i class="icon-attachment"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="mix col-sm-4 margin-t-20 hackathon">
                                <div class="work_item">
                                    <div class="work_item_overlay"></div>
                                    <img src="{{asset "img/works5.jpg"}}" alt="work image">
                                    <div class="work_item_button_holder">
                                        <a href="{{asset "img/works5.jpg"}}" data-rel="prettyPhoto"><i class="icon-magnifying-glass"></i></a>
                                        <a href="#"><i class="icon-attachment"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="mix col-sm-4 margin-t-20 hackathon">
                                <div class="work_item">
                                    <div class="work_item_overlay"></div>
                                    <img src="{{asset "img/works6.jpg"}}" alt="work image">
                                    <div class="work_item_button_holder">
                                        <a href="{{asset "img/works6.jpg"}}" data-rel="prettyPhoto"><i class="icon-magnifying-glass"></i></a>
                                        <a href="#"><i class="icon-attachment"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{! HERO-SECTION }}
<section class="hero-section">
    <div class="container">
        <div class="col-md-8 col-sm-9">
            <h3 class="text-uppercase"> Like our works?</h3>
            <p>You're always welcome here</p>
        </div>
        <div class="col-md-4 col-sm-3">
            <a href="https://www.facebook.com/Tech4Student/" class="btn btn-black">Visit us</a>
        </div>
    </div>
</section>
    
{{! SOME FUN-FACT }}
<section class="fun-fact parallax" data-stellar-background-ratio="0.7">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <i class="icon-globe"></i>
                <h1>More than 100 countries</h1>
                <h5>around the world</h5>
            </div>
            <div class="col-md-6 col-sm-6">
                <i class="icon-happy"></i>
                <h1>Thousands</h1>
                <h5>members</h5>
            </div>
        </div>
    </div>
</section>

{{! ABOUT }}
<section class="about" id="about">
    <div class="container">
        <div class="row about-us">
            <div class="col-lg-7 col-md-7 col-sm-7 wow fadeInLeft animated">
                <h2>Welcome to our site! <strong><span></span></strong></h2>
                <br>
                <p><span>We</span>’re looking for students with an innate passion for technology, students who aspire to go above and beyond what’s expected and who want to lead and mentor the next generation of software developers.</p>
                <p>We’ll provide the tools, training, and networking opportunities so you can develop and refine the skills you need to jump-start your career.</p>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 wow fadeInRight animated">
                <figure><img src="{{asset "img/about1.jpg"}}" alt="" class="img-responsive"></figure>
            </div>
        </div>
        <div class="team">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="team-member  wow animated fadeInLeftBig animation-delay-5">
                        <div class="member">
                            <img class="circle-img" src="{{asset "img/about2.jpg"}}" alt="team"> 
                        </div>
                        <h4>Ca Nguyen</h4>
                        <h6>Leader</h6>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="team-member wow animated fadeInLeftBig animation-delay-4">
                        <div class="member">
                            <img class="circle-img" src="{{asset "img/about3.jpg"}}" alt="team"> 
                        </div>
                        <h4>Dung Pham</h4>
                        <h6>DX</h6>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="team-member wow animated fadeInLeftBig animation-delay-3">
                        <div class="member">
                            <img class="circle-img" src="{{asset "img/about4.jpg"}}" alt="team"> 
                        </div>
                        <h4>Tri Bach</h4>
                        <h6>DX</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 

{{! TESTIMONIALS }}
<section class="testimonials parallax" data-stellar-background-ratio="0.7">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div id="testi-carousel" class="owl-carousel owl-spaced">
                    <div class="wow animated bounceInDown animation-delay-2">
                        <i class="fa fa-quote-left"></i>
                        <h5>
                           Success is a lousy teacher. It seduces smart people into thinking they can't lose.
                        </h5>
                        <p>Bill Gates</p>
                    </div>
                    <div>
                        <i class="fa fa-quote-left"></i>
                        <h5>
                            We don't have a monopoly. We have market share. There's a difference.
                        </h5>
                        <p>Steve Ballmer</p>
                    </div>
                    <div>
                        <i class="fa fa-quote-left"></i>
                        <h5>
                            If you don't have a real stake in the new, then just surviving on the old - even if it is about efficiency - I don't think is a long-term game.
                        </h5>
                        <p>Satya Nadella</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{! NEWS-LETTER }}
<section class="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6">
                <h3><i class="fa fa-envelope-o"></i>Subscribe to Our Newsletter</h3>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="input-group news-form">
                    <input type="text" class="form-control" placeholder="email-address">
                    <span class="input-group-btn">
                        <button class="btn" type="button">Subscribe</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>

{{! CONTACT }}
<section id="contact" class="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <i class="fa fa-leaf"></i>
                <h4>Get in touch</h4>
                <ul class="list-unstyled">
                    <li><a href="https://mspvn.wordpress.com/">MSP Vietnam</a></li>
                </ul>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4">
                <i class="fa fa-map-marker"></i>
                <h4>Our Location</h4>
                <address>Capital Tower<br> 109 Tran Hung Dao <br>Hanoi<br> Vietnam</address>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4">
                <i class="fa fa-support"></i>
                <h4>Free Support</h4>
                Ask us anything
                <a class="support" href="https://www.facebook.com/Tech4Student/">Microsoft Tech for student</a>
            </div>
        </div>
        

        <div id="successmsg1" style="display: none;"></div>
        <form id="form1" name="form1" method="POST" >
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <input class="" type="text" name="name" id="name" placeholder="Name" />
                </div>
               
                <div class="col-lg-4 col-md-4">
                    <input class="" type="text" name="email1" id="email1" placeholder="Email" />
                </div>
               
                <div class="col-lg-4 col-md-4">
                    <input type="text" name="subject" placeholder="Subject">
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <textarea name="message" id="message" placeholder="Message"></textarea>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <div class="text-right">
                        <button class="btn btn-custom" id="submit_btn" name="submit_btn"><span>Send Message</span></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
